.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 1rem;
}

@keyframes changewidth {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(1.05);
    }
}