body {
    background: #fff;
    min-width: 350px;
}

main {
    min-height: 82vh;
}

.collapse a{
    color: black !important;
    text-transform: capitalize;
}

h3 {
     padding-top: 1rem;
     text-align: center;
}

.rating span {
    margin: 0.1rem
}

.btn-block {
  width: 100%;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
}

/*Product card START*/
.product__item {
    text-align: center;
}

.product__image {
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
}

.product__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product__price {
    font-size: 1rem;
    font-weight: bold;
}

/*Product card END*/

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 50%;
}
.carousel a {
    margin: 0 auto;
}

/*Search box START*/
.search__input {
    outline: none;
}

/*Search box END*/

/* TOP SECTION START*/

.top__section {
    padding: 5rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1rem;
}

.top__section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top__section--main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-column: span 2;
    grid-row: span 2;
}

.top__section--second {
    grid-row: span 2;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.top__section--third,
.top__section--forth {
    grid-row: span 1;
}

/*Top section END*/

/* Products START */

.products__section {
    padding: 5rem 0;
    min-height: 500px;
    margin: auto;
}

/*About us START*/

.about__us {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1rem;
}

.about__us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__us--main {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: span 2;
}

.about__us--second {
    grid-column: span 1;
}

.about__us--third {
    grid-column: span 2;
}

.about__us--forth {
    grid-column-start: 2;
    grid-column: span 2;
    grid-row-start: 2;
    grid-row: span 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    border: 1px solid black;
}

.about__us--divider {
    height: 2px;
    width: 150px;
    background: orange;
}

.about__us--forth a {
    padding: 5px;
}

.about__us--fifth {

}

.about__us a {
    text-transform: lowercase;
    background: #487876;
    color: white;
    font-weight: bold;
}

.about__us a:hover {
    color: white;
}
/*About us END*/

/*About us screen START*/
.about-us__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-flow: wrap;
}

.about-us__container > div {
    flex: 1;
}
.about-us__contacts {
    display: flex;
    flex-flow: wrap column;
}
.about-us__contacts a {
    color: #487876;
}

/*About us screen END*/

/*Footer START*/

footer {
    padding: 2rem 0 1rem 0;
    background: #000000;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

footer a,
footer a:hover {
    color: deepskyblue;
}

.footer__copyright {
    display: flex;
    flex-flow: wrap row;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

/*Footer End*/

/*Terms START*/
.terms {
    width: 70%;
    margin: auto;
}

.terms strong {
    color: #f0ad4e !important;
    font-weight: bold;
}


/*TERMS END*/
@media (max-width: 1200px) {
    .top__section--second {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media (max-width: 1000px) {
    .about__us--main {
        grid-column-start: 1;
        grid-column: span 1;
        grid-row-start: 1;
        grid-row: span 1;
    }

    .about__us--forth {
        grid-column: span 3;
    }
}

@media (max-width: 800px) {
    .top__section--third,
    .top__section--forth {
        display: none;
    }

    .top__section--main {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column: span 4;
    }

    .top__section--second {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column: span 4;
    }

    .about__us--main,
    .about__us--third,
    .about__us--second {
        display: none;
    }

    .about__us--forth {
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
        margin: auto;
        flex-flow: column;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-column: span 4;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-row: span 1;
        text-align: center;
    }

    .about__us--fifth {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-column: span 4;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-row: span 1;
    }
}

@media (max-width: 500px) {
    .about__us--forth span {
        display: none;
    }
}