/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-purple: #4b145b;
    --clr-red-special: #b4345c;
    --clr-grey-special: #eae6eb;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 920px;
}

body {
    background: #fff;
    min-width: 350px;
}

main {
    min-height: 82vh;
}

.collapse a{
    color: black;
    text-transform: capitalize;
}

h3 {
     padding-top: 1rem;
     text-align: center;
}

.rating span {
    margin: 0.1rem
}

.btn-block {
  width: 100%;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item {
    padding: 0;
}

.logo {
    width: 50px;
    height: 100%;
}

/*Product card START*/
.product__item {
    text-align: center;
}

.product__image {
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
}

.product__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product__price {
    font-size: 1rem;
    font-weight: bold;
}

/*Product card END*/

.filter {
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: .7rem 2rem;
    border-radius: .5rem;
    margin: 0;
}

.filter input {
    border: none;
    padding: 0 1rem;
}

.filter input:active,
.filter input:focus {
    border: none;
    outline: none;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 1rem;
}

@keyframes changewidth {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(1.05);
    }
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 50%;
}
.carousel a {
    margin: 0 auto;
}

/*Search box START*/
.search__input {
    outline: none;
}

/*Search box END*/

/* TOP SECTION START*/

.top__section {
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1rem;
}

.top__section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top__section--main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-column: span 2;
    grid-row: span 2;
}

.top__section--second {
    grid-row: span 2;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.top__section--third,
.top__section--forth {
    grid-row: span 1;
}

/*Top section END*/

/* Products START */

.products__section {
    min-height: 500px;
    margin: auto;
}

/*About us START*/

.about__us {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1rem;
}

.about__us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__us--main {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: span 2;
}

.about__us--second {
    grid-column: span 1;
}

.about__us--third {
    grid-column: span 2;
}

.about__us--forth {
    grid-column-start: 2;
    grid-column: span 2;
    grid-row-start: 2;
    grid-row: span 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    border: 1px solid black;
}

.about__us--divider {
    height: 2px;
    width: 150px;
    background: orange;
}

.about__us--forth a {
    padding: 5px;
}

.about__us--fifth {

}

.about__us a {
    text-transform: lowercase;
    background: #487876;
    color: white;
    font-weight: bold;
}

.about__us a:hover {
    color: white;
}
/*About us END*/

/*About us screen START*/
.about-us__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-flow: wrap row;
}

.about-us__container > div {
    flex: 1;
}

.about-us__contacts {
    display: flex;
    flex-flow: wrap column;
}
.about-us__contacts a {
    color: #487876;
}

/*About us screen END*/

/*Footer START*/

footer {
    padding: 2rem 0 1rem 0;
    background: #000000;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

footer a,
footer a:hover {
    color: #fff;
}

.footer__copyright {
    display: flex;
    flex-flow: wrap row;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.footer__contacts {
    width: 70%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: auto;
    gap: 3rem;
}

.util__links,
.footer__social-media {
    display: flex;
    flex-flow: wrap column;
}

.social__media--links {
    display: flex;
    flex-flow: wrap row;
    font-size: 2rem;
    gap: 1rem;
}

.footer__contacts h5 {
    color: white;
}

/*Footer End*/

/*Terms START*/
.terms {
    width: 70%;
    margin: auto;
}

.terms strong {
    color: #f0ad4e !important;
    font-weight: bold;
}

/*TERMS END*/

/*Privacy START*/
.privacy {
    max-width: 1000px;
    margin: auto;
    color: black;
    padding: 3rem 0;
}

.privacy strong,
.privacy strong a {
    font-weight: bold;
    color: #f0ad4e;
}
/*Privacy END*/

/*Accordion START*/
.accordion main {
    min-height: 100vh;
    /* using flex because of better browser support */
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion .container {
    width: 90vw;
    margin: 0 auto 5rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2.5rem 2rem;
    max-width: var(--fixed-width);
    display: grid;
    gap: 1rem 2rem;
    z-index: 100;
}
.accordion .container h3 {
    line-height: 1.2;
    font-weight: 500;
}

.accordion .container h5 {
    text-decoration: none;
    text-transform: none;
    margin: 2rem 0;
}

.accordion .question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--clr-grey-special);
    margin-bottom: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}
.accordion .question h4 {
    text-transform: none;
    line-height: 1.5;
}
.accordion .question p {
    color: var(--clr-grey-3);
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.accordion .question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .question header h4 {
    margin-bottom: 0;
}

.accordion .btn {
    background: transparent;
    border-color: transparent;
    width: 3rem;
    height: 3rem;
    background: var(--clr-grey-special);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-red-special);
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    border-radius: 50%;
}

.accordion .question button {
    font-weight: bold;
    font-size: 1.3rem;
}

.accordion .upper {
    width: 200px;
    height: 200px;
    background-color: #b4345c;
    position: absolute;
    z-index: -100;
    left: -40px;
    top: 30px;
}

.accordion .outer-container {
    position: relative;
}

.accordion .lower {
    width: 200px;
    height: 200px;
    background-color: #b4345c;
    position: absolute;
    z-index: -100;
    bottom: 30px;
    right: -30px;
}
/*Accordion END*/

@media (max-width: 1200px) {
    .top__section--second {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media (max-width: 1000px) {
    .about__us--main {
        grid-column-start: 1;
        grid-column: span 1;
        grid-row-start: 1;
        grid-row: span 1;
    }

    .about__us--forth {
        grid-column: span 3;
    }
}

@media screen and (min-width: 992px) {
    .accordion .container {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}

@media (max-width: 800px) {
    .top__section--third,
    .top__section--forth {
        display: none;
    }

    .top__section--main {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column: span 4;
    }

    .top__section--second {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column: span 4;
    }

    .about__us--main,
    .about__us--third,
    .about__us--second {
        display: none;
    }

    .about__us--forth {
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
        margin: auto;
        flex-flow: column;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-column: span 4;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-row: span 1;
        text-align: center;
    }

    .about__us--fifth {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-column: span 4;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-row: span 1;
    }

    .about-us__container {
     flex-flow: wrap column;
    }
}

@media (max-width: 500px) {
    .about__us--forth span {
        display: none;
    }
}