body {
  background: #fff;
}

main {
  min-height: 80vw;
}

h3 {
 padding-top: 1rem;
 text-align: center;
}

.rating span {
  margin: 0.1rem
}

.btn-block {
  width: 100%;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}