.filter {
    -webkit-box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
    padding: .7rem 2rem;
    border-radius: .5rem;
    margin: 0;
}

.filter input {
    border: none;
    padding: 0 1rem;
}

.filter input:active,
.filter input:focus {
    border: none;
    outline: none;
}
